In [1]:
import numpy as np
import pandas as pd

In [5]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [3]:
train.target.value_counts()/len(train)*100

0.0    73.2
1.0    26.8
Name: target, dtype: float64

In [12]:
submission = pd.read_csv("../data/sample_submission.csv")

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19750 entries, 0 to 19749
Columns: 301 entries, id to 299
dtypes: float64(300), int64(1)
memory usage: 45.4 MB

In [13]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19750 entries, 0 to 19749
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19750 non-null  int64
 1   target  19750 non-null  int64
dtypes: int64(2)
memory usage: 308.7 KB

In [14]:
submission.head()

    id  target
0  250       0
1  251       0
2  252       0
3  253       0
4  254       0

In [15]:
submission.describe()

                 id   target
count  19750.000000  19750.0
mean   10124.500000      0.0
std     5701.478244      0.0
min      250.000000      0.0
25%     5187.250000      0.0
50%    10124.500000      0.0
75%    15061.750000      0.0
max    19999.000000      0.0